<div [appSpinner]="loading$ | async">
    <table>
        <thead>
            <tr>
                <th *ngIf="actions && actions.length" style="width: 0;">
                    Действия
                </th>
                <th *ngFor="let column of columns">
                    {{ column.name }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of (rows$ | async)">
                <td *ngIf="actions && actions.length">
                    <div style="display: flex;">
                        <ng-container *ngFor="let action of actions">
                            <button nbButton (click)="action.action($any(row).id)" class="action-button"><nb-icon [icon]="$any(icons)[action.type]"></nb-icon></button>
                        </ng-container>
                    </div>
                </td>
                <td *ngFor="let column of columns">
                    {{ row[column.key] }}
                </td>
            </tr>
        </tbody>
    </table>
</div>