<nb-card [appSpinner]="loading$ | async">
    <nb-card-header>
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h3>
                    {{ name$ | async }}
                </h3>
            </div>
            <div>
                <button nbButton (click)="addLabelType()">Добавить категорию</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-header>
        <form [formGroup]="form">
            <div style="display: flex;">
                <div style="width: 50%; margin-right: 10px;">
                    <app-trixx-form-field label="Название">
                        <input 
                            #appFormField
                            #appColorize
                            type="text" 
                            formControlName="search"
                            placeholder="Название"
                            nbInput
                            fullWidth
                        >
                    </app-trixx-form-field>
                </div>
                
                <div style="width: 50%;">
                    <app-trixx-form-field label="Тип">
                        <nb-select 
                            fullWidth 
                            placeholder="Тип" 
                            formControlName="cartoonType"
                            #appFormField
                            #appColorize
                        >
                            <nb-option [value]="null">&nbsp;</nb-option>
                            <nb-option *ngFor="let option of cartoonTypes" [value]="option.id">{{ option.label }}</nb-option>
                        </nb-select>
                    </app-trixx-form-field>
                </div>
            </div>
        </form>
    </nb-card-header>
    <nb-card-body>
        <div style="display: flex; gap: 10px;" cdkDropListGroup>
            <div *ngFor="let labelType of shownLabelTypes; trackBy: trackByOrder" class="labelType">
                <div class="labelTypeName">{{ labelType.name }} ({{ labelType.cartoons.length - 1 }})</div>
                <div 
                    class="labelTypeCartoons"
                    cdkDropList
                    [cdkDropListData]="labelType.cartoons"
                    (cdkDropListDropped)="replaceCartoon($event)"
                    [id]="getCartoonListId(labelType.order)"
                >
                    <div 
                        *ngFor="let cartoon of labelType.cartoons; trackBy: trackByCartoon" 
                        class="labelTypeCartoon" 
                        cdkDrag 
                        [cdkDragDisabled]="!cartoon.name"
                        [cdkDragData]="cartoon"
                    >
                        <div>{{ cartoon.name }} ({{ cartoon.year }}{{ cartoon.year ? ', ' : '' }}{{ cartoon.cartoonType }})</div>
                        <div><i>{{ cartoon.alternativeNames }}</i></div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>