<nb-card [appSpinner]="loading$ | async">
    <nb-card-header>
        <div style="display: flex; justify-content: space-between;; align-items: center;">
            <div>
                <h3>
                    {{ isEdit ? 'Редактирование' : 'Добавление' }} роли
                </h3>
            </div>
            <div>
                <button nbButton (click)="handleClose()" size="small"><nb-icon icon="close-outline"></nb-icon></button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <app-trixx-form-field label="Название">
                <input 
                    #appFormField
                    #appColorize
                    type="text" 
                    formControlName="name"
                    placeholder="Название"
                    nbInput
                    fullWidth
                >
            </app-trixx-form-field>

            <div style="margin-bottom: 10px;">
                <table class="permissions-table" style="width: 100%;">
                    <thead>
                        <tr>
                        <th>Экран</th>
                        <th *ngFor="let permission of commonPermissionHeaders">
                            <div style="display: flex; justify-content: center;">
                                {{ permission }}
                            </div>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ws of workscreenHeaders; let rowIndex = index">
                            <td>{{ ws.workscreen }}</td>
                            <td *ngFor="let perm of ws.permissions; let colIndex = index">
                                <div style="display: flex; justify-content: center;">
                                    <input
                                        *ngIf="$any(permissionsArray.at(rowIndex * commonPermissionHeaders.length + colIndex)).value !== null"
                                        type="checkbox"
                                        [formControl]="$any(permissionsArray.at(rowIndex * commonPermissionHeaders.length + colIndex))"
                                    />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <nb-accordion>
                    <nb-accordion-item>
                        <nb-accordion-item-header>
                            Использование пользователями
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div class="users-usage">
                                <a 
                                    *ngFor="let user of usersUsage"
                                    [routerLink]="['pages','users']"
                                    [queryParams]="{ id: user.id }"
                                    (click)="handleClose()">
                                    {{ user.label }}
                                </a>
                            </div>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton [disabled]="form.invalid" (click)="save()" status="success">Сохранить</button>
    </nb-card-footer>
</nb-card>