<nb-card [appSpinner]="loading$ | async">
    <nb-card-header>
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h3>
                    {{ isEdit ? 'Редактирование' : 'Добавление' }} студии
                </h3>
            </div>
            <div>
                <button nbButton (click)="handleClose()"><nb-icon icon="close-outline"></nb-icon></button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <app-trixx-form-field label="Название">
                <input 
                    #appFormField
                    #appColorize
                    type="text" 
                    formControlName="name"
                    placeholder="Название"
                    nbInput
                    fullWidth
                >
            </app-trixx-form-field>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton [disabled]="form.invalid" (click)="save()">Сохранить</button>
    </nb-card-footer>
</nb-card>