<nb-card>
    <nb-card-header>
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h3>Мультфильмы</h3>
            </div>
            <div>
                <button nbButton (click)="setFormDefaults()" style="margin-right: 10px;"><nb-icon icon="settings-2-outline"></nb-icon></button>
                <button nbButton (click)="addCartoon()">Добавить мультфильм</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-header>
        <form [formGroup]="form">
            <div style="display: flex;">
                <div style="width: 50%; margin-right: 10px;">
                    <app-trixx-form-field label="Название">
                        <input 
                            #appFormField
                            #appColorize
                            type="text" 
                            formControlName="search"
                            placeholder="Название"
                            nbInput
                            fullWidth
                        >
                    </app-trixx-form-field>
                </div>

                <div style="width: 50%;">
                    <app-trixx-form-field label="Студия">
                        <nb-select 
                            fullWidth 
                            placeholder="Студия" 
                            formControlName="studioId"
                            #appFormField
                            #appColorize
                        >
                            <nb-option [value]="null">&nbsp;</nb-option>
                            <nb-option *ngFor="let option of studios$ | async" [value]="option.id">{{ option.label }}</nb-option>
                        </nb-select>
                    </app-trixx-form-field>
                </div>
            </div>
        </form>
    </nb-card-header>
    <nb-card-body>
        <div #table></div>
    </nb-card-body>
</nb-card>